{% include 'sidebar.html'%}
{% load static %}
 <div class="breadcrumbbar">
                <div class="row align-items-center">
                    <div class="col-md-8 col-lg-8">
                        <h4 class="page-title">Order Monitoring</h4>

                        <div class="breadcrumb-list">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{{request.path}}">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Orders</li>
                            </ol>

                        </div>
                    </div>
                </div>

            </div>
  <div class="contentbar">

  


                <!-- Start row -->
                <div class="row">
                     <!-- Start col -->
                    <div class="order col-lg-12">
                        {% for x in order %}
                        <div class="card crm-project-box m-b-30">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col-12 col-lg-6 col-xl-1">
                                        <p class="piety-data-attributes text-center my-3">
                                            <span data-peity='{ "fill": ["#506fe4", "#f2f3f7"],  "innerRadius": 22, "radius": 28 }'>{{x.point}}/5</span>
                                        </p>
                                    </div>
                                    <div class="col-12 col-lg-6 col-xl-5">
                                        <h5>Order #{{x.order_id}} {{x.is_active}}</h5>
                                       <a href="{% url "order_detail" x.order_id %}"> <p class="font-14">Created at : {{x.created}} | User ID : {{x.user_id}} | Merchant ID : {{x.merchant_id}} | Courier ID: {{x.courier_id|default:"None"}} | Payment ID: {{x.payment_id}} </p> </a>
                                    </div>
                                    <div class="col-12 col-lg-12 col-xl-6">
                                        <div class="progress" style="height: 22px;">
                                        {% if x.type == "order_done" and x.status == 'success'  %}
                                                    <div class="progress-bar bg-success border-right" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">DRAFT (20%)</div>
                                                    <div class="progress-bar bg-success border-right" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">CHECKOUT (20%)</div>
                                                    <div class="progress-bar bg-success border-right" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">PAYMENT (20%)</div>
                                                    <div class="progress-bar bg-success border-right" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">PROCESSING (20%)</div>
                                                    <div class="progress-bar bg-success border-right" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">DONE (20%)</div>
                                        {% elif x.type == "order_processing" and x.status == 'success'  %}
                                                     <div class="progress-bar bg-success border-right" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">DRAFT (20%)</div>
                                                    <div class="progress-bar bg-success border-right" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">CHECKOUT (20%)</div>
                                                    <div class="progress-bar bg-success border-right" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">PAYMENT (20%)</div>
                                                    <div class="progress-bar bg-success border-right" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">PROCESSING (20%)</div>
                                                    
                                        
                                        {% elif x.type == "order_payment" and x.status == 'success'  %}
                                            <div class="progress-bar bg-success border-right" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">DRAFT (20%)</div>
                                                    <div class="progress-bar bg-success border-right" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">CHECKOUT (20%)</div>
                                                    <div class="progress-bar bg-success border-right" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">PAYMENT (20%)</div>
                                                    <div class="progress-bar bg-secondary border-right" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">PROCESSING (20%)</div>
                                                    <div class="progress-bar bg-secondary border-right" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">DONE (20%)</div>
                                        {% elif x.type == "order_checkout" and x.status == 'success'  %}
                                                    <div class="progress-bar bg-success border-right" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">DRAFT (20%)</div>
                                                    <div class="progress-bar bg-success border-right" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">CHECKOUT (20%)</div>
                                                    <div class="progress-bar bg-secondary border-right" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">PAYMENT (20%)</div>
                                                    <div class="progress-bar bg-secondary border-right" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">PROCESSING (20%)</div>
                                                    <div class="progress-bar bg-secondary border-right" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">DONE (20%)</div>
                                        {% elif x.type == "order_draft" and x.status == 'success'  %}
                                                <div class="progress-bar bg-success border-right" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">DRAFT (20%)</div>
                                                <div class="progress-bar bg-secondary border-right" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">CHECKOUT (20%)</div>
                                                    <div class="progress-bar bg-secondary border-right" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">PAYMENT (20%)</div>
                                                    <div class="progress-bar bg-secondary border-right" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">PROCESSING (20%)</div>
                                                    <div class="progress-bar bg-secondary border-right" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">DONE (20%)</div>

                                        {% else %}
                                            <div class="progress-bar bg-danger border-right" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">DONE (20%)</div>
                                        
                                        {% endif %}
                                            
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                      {% endfor %}
                      

                    </div>
                     <!-- End col -->
                </div>
                <!-- End row -->
            </div>
            <!-- End Contentbar -->
            <!-- Start Footerbar -->
            <div class="footerbar">
                <footer class="footer">
                    <p class="mb-0">© 2021 iBox</p>
                </footer>
            </div>
            <!-- End Footerbar -->
        </div>
        <!-- End Rightbar -->
    </div>


  <script>
        

        const orderSocket = new WebSocket(
         'ws://'
            + window.location.host
            + '/userflow/?authorization='
            + '{{token}}'
            + '/'
           
        );
        orderSocket.onmessage = function(e){
            const data = JSON.parse(e.data);
            console.log(data.message[0]);
            var html = `  
            <div class="card crm-project-box m-b-30">
                                        <div class="card-body">
                                            <div class="row align-items-center">
                                                <div class="col-12 col-lg-6 col-xl-1">
                                                    <p class="piety-data-attributes text-center my-3">
                                                        <span data-peity='{ "fill": ["#506fe4", "#f2f3f7"],  "innerRadius": 22, "radius": 28 }'>${data.message[0].point}/5</span>
                                                    </p>
                                                </div>
                                                <div class="col-12 col-lg-6 col-xl-5">
                                                    <h5>Order #${data.message[0].order_id} {{x.is_active}}</h5>
                                                <a href="order_detail/${data.message[0].order_id}/"> <p class="font-14">Created at : "None" | User ID : ${data.message[0].user_id} | Merchant ID : ${data.message[0].merchant_id} | Courier ID: ${data.message[0].courier_id} | Payment ID: ${data.message[0].payment_id} </p> </a>
                                                </div>
                                                <div class="col-12 col-lg-12 col-xl-6">
                                                    <div class="progress" style="height: 22px;">
                                                            <div class="progress-bar bg-success border-right" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">DRAFT (20%)</div>
                                                            <div class="progress-bar bg-secondary border-right" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">CHECKOUT (20%)</div>
                                                                <div class="progress-bar bg-secondary border-right" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">PAYMENT (20%)</div>
                                                                <div class="progress-bar bg-secondary border-right" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">PROCESSING (20%)</div>
                                                                <div class="progress-bar bg-secondary border-right" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">DONE (20%)</div>

                                                        
                                                    </div>
                                                </div>
                                            
                                            </div>
                                        </div>
                                    </div>`;
                $('.order').prepend(html);
                
                


                };

       
   </script>


    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/modernizr.min.js' %}"></script>
    <script src="{% static 'assets/js/detect.js' %}"></script>
    <script src="{% static 'assets/js/jquery.slimscroll.js' %}"></script>
    <script src="{% static 'assets/js/vertical-menu.js' %}"></script>
    <!-- Switchery js -->
    <script src="{% static 'assets/plugins/switchery/switchery.min.js' %}"></script>
    <!-- Piety Chart js -->
    <script src="{% static 'assets/plugins/peity/jquery.peity.min.js' %}"></script>
    <!-- Custom CRM Project js -->
    <script src="{% static 'assets/js/custom/custom-crm-projects.js' %}"></script>
    <!-- Core js -->
    <script src="{% static 'assets/js/core.js' %}"></script>

  
    <!-- End js -->
</body>
</html>

  
