{% include 'sidebar.html'%}
{% load static %}
            <!-- End Breadcrumbbar -->
            <!-- Start Contentbar -->
        <div class="breadcrumbbar">
          <div class="row align-items-center">
            <div class="col-md-8 col-lg-8">
              <h4 class="page-title">Order Monitoring</h4>
              <div class="breadcrumb-list">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'order' %}">Home</a></li>
                  <li class="breadcrumb-item"><a href="{% url 'order' %}">Orders</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Order #{{order.order_id}}</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
        <!-- End Breadcrumbbar -->
        <!-- Start Contentbar -->
        <div class="contentbar">
          <!-- Start row -->
          <div class="row">
            <!-- Start col -->
            <div class="col-lg-12">

              <div class="text-center">
                <h3>Order ID: #{{order.order_id}}</h3>
              </div>


              <!-- User Flow -->
              <div class="card crm-project-box m-b-30">
                <div class="card-body">

                  <h5>
                    User Flow
                    <span class="pull-right">User ID: {{order.user_id}}</span>
                  </h5>

                  <div class="row align-items-center">
                    <div class="col-12 col-lg-12 col-xl-12">
                      <div class="progress" style="height:100px">
                        <div
                        data-container="body"
                        data-toggle="popover"
                        data-placement="bottom"
                        title=""
                        data-content="{{order.status_message}}."
                        data-original-title="{{order.status}}"
                        {% if order %} class="progress-bar bg-success border-right" {%else%} class="progress-bar bg-secondary border-right"{%endif%}
                        style="width: 25%">
                        <div>DRAFT</div>
                        <div>{{order.created}}</div>
                      </div>
                      <div
                      data-container="body"
                      data-toggle="popover"
                      data-placement="bottom"
                      title=""
                      data-content="{{order_checkout.status_message}}."
                      data-original-title="{{order_checkout.status|default:"Process is valid"}}"
                      {% if order_checkout %} class="progress-bar bg-success border-right" {%else%} class="progress-bar bg-secondary border-right"{%endif%}
                      style="width: 25%">
                      <div>CHECKOUT</div>
                      <div>{{order_checkout.created}}</div>
                    </div>
                    <div
                    data-container="body"
                    data-toggle="popover"
                    data-placement="bottom"
                    title=""
                    data-content="{{order_payment.status_message}}."
                    data-original-title="{{order_payment.status|default:"Process is valid"}}"
                    {% if order_payment%}{% if order_payment.status == "success" %} class="progress-bar bg-success border-right" {%elif order_payment.status == "error"%}class="progress-bar bg-danger border-right" {%endif%}{%else%} class="progress-bar bg-secondary border-right"={%endif%}
                    style="width: 25%">
                    <div>PAYMENT</div>
                    <div>{{order_payment.created}}</div>
                  </div>
                  <div
                  data-container="body"
                  data-toggle="popover"
                  data-placement="bottom"
                  title=""
                  data-content="{{order_processing.status_message}}."
                  data-original-title="{{order_processing.status|default:"Process is valid"}}"
                  {% if order_processing%}{% if order_processing.status == "success" %} class="progress-bar bg-success border-right" {%elif order_processing.status == "error"%}class="progress-bar bg-danger border-right" {%endif%}{%else%} class="progress-bar bg-secondary border-right"={%endif%}
                  style="width: 25%">
                  <div>PROCESSING</div>
                  <div>{{order_processing.created}}</div>
                </div>
              </div>
            
            </div>
          </div>
        </div>
      </div>

      <!-- Payment Flow -->
      <div class="card crm-project-box m-b-30">
        <div class="card-body">

          <h5>
            Payment Flow
            <span class="pull-right">Payment ID: {{order_payment.payment_id|default:"None"}}</span>
          </h5>

          <div class="row align-items-center">
            <div class="col-12 col-lg-12 col-xl-12">
              <div class="progress" style="height:100px">
                <div
                data-container="body"
                data-toggle="popover"
                data-placement="bottom"
                title=""
                data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                data-original-title="SUCCESS"
                class="progress-bar bg-danger border-right"
                style="width: 33.3%">
                <div>PURCHASE</div>
                <div>2021-03-28 18:53</div>
              </div>
              <div
              data-container="body"
              data-toggle="popover"
              data-placement="bottom"
              title=""
              data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
              data-original-title="SUCCESS"
              class="progress-bar bg-success border-right"
              style="width: 33.3%">
              <div>BILLING PROCESSING</div>
              <div>2021-03-28 18:53</div>
            </div>
            <div
            data-container="body"
            data-toggle="popover"
            data-placement="bottom"
            title=""
            data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
            data-original-title="SUCCESS"
            class="progress-bar bg-danger border-right"
            style="width: 33.3%">
            <div>WITHDRAWAL</div>
            <div>2021-03-28 18:53</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Merchant Flow -->
<div class="card crm-project-box m-b-30">
  <div class="card-body">

    <h5>
      Merchant Flow
      <span class="pull-right">Merchant ID: 332</span>
    </h5>

    <div class="row align-items-center">
      <div class="col-12 col-lg-12 col-xl-12">
        <div class="progress" style="height:100px">
          <div
          data-container="body"
          data-toggle="popover"
          data-placement="bottom"
          title=""
          data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
          data-original-title="SUCCESS"
          class="progress-bar bg-danger border-right"
          style="width: 25%">
          <div>PENDING</div>
          <div>2021-03-28 18:53</div>
        </div>
        <div
        data-container="body"
        data-toggle="popover"
        data-placement="bottom"
        title=""
        data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
        data-original-title="SUCCESS"
        class="progress-bar bg-danger border-right"
        style="width: 25%">
        <div>EVALUATE</div>
        <div>2021-03-28 18:53</div>
      </div>
      <div
      data-container="body"
      data-toggle="popover"
      data-placement="bottom"
      title=""
      data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
      data-original-title="SUCCESS"
      class="progress-bar bg-danger border-right"
      style="width: 25%">
      <div>READY</div>
      <div>2021-03-28 18:53</div>
    </div>
    <div
    data-container="body"
    data-toggle="popover"
    data-placement="bottom"
    title=""
    data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
    data-original-title="SUCCESS"
    class="progress-bar bg-success border-right"
    style="width: 25%">
    <div>COURIER ASSIGN</div>
    <div>2021-03-28 18:53</div>
  </div>
</div>
</div>
</div>
</div>
</div>

<!-- Courier Flow -->
<div class="card crm-project-box m-b-30">
  <div class="card-body">

    <h5>
      Courier Flow
      <span class="pull-right">Courier ID: 332</span>
    </h5>

    <div class="row align-items-center">
      <div class="col-12 col-lg-12 col-xl-12">
        <div class="progress" style="height:100px">
          <div
          data-container="body"
          data-toggle="popover"
          data-placement="bottom"
          title=""
          data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
          data-original-title="SUCCESS"
          class="progress-bar bg-warning border-right"
          style="width: 33.3%">
          <div>LOCATION</div>
          <div>2021-03-28 18:53</div>
        </div>
        <div
        data-container="body"
        data-toggle="popover"
        data-placement="bottom"
        title=""
        data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
        data-original-title="SUCCESS"
        class="progress-bar bg-warning border-right"
        style="width: 33.3%">
        <div>TAKE ORDER</div>
        <div>2021-03-28 18:53</div>
      </div>
      <div
      data-container="body"
      data-toggle="popover"
      data-placement="bottom"
      title=""
      data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
      data-original-title="SUCCESS"
      class="progress-bar bg-success border-right"
      style="width: 33.3%">
      <div>DELIVERED</div>
      <div>2021-03-28 18:53</div>
    </div>
  </div>
</div>
</div>
</div>
</div>


</div>
<!-- End col -->
</div>
<!-- End row -->
</div>
<!-- End Contentbar -->
<!-- Start Footerbar -->
<div class="footerbar">
  <footer class="footer">
    <p class="mb-0">© 2021 iBox</p>
  </footer>
</div>
<!-- End Footerbar -->
</div>
<!-- End Rightbar -->
</div>
<!-- End Containerbar -->
<!-- Start js -->
<script>

        const chatSocket = new WebSocket(
         'ws://'
            + window.location.host
            + '/userflow/?authorization=47174b9ff677f9e5bf97f74de5940fab670117d1'
           
        );

       
   </script>



    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/modernizr.min.js' %}"></script>
    <script src="{% static 'assets/js/detect.js' %}"></script>
    <script src="{% static 'assets/js/jquery.slimscroll.js' %}"></script>
    <script src="{% static 'assets/js/vertical-menu.js' %}"></script>
    <!-- Switchery js -->
    <script src="{% static 'assets/plugins/switchery/switchery.min.js' %}"></script>
    <!-- Piety Chart js -->
    <script src="{% static 'assets/plugins/peity/jquery.peity.min.js' %}"></script>
    <!-- Custom CRM Project js -->
    <script src="{% static 'assets/js/custom/custom-crm-projects.js' %}"></script>
    <!-- Core js -->
    <script src="{% static 'assets/js/core.js' %}"></script>

  
    <!-- End js -->
</body>
</html>
